extends layout

block content
   .well
      h1='Place holder for new and improved UI'
      hr
      h4='GET /api/data'
      p='Use endpoint for fetching data. Can append ?key={key} or ?id={id} to query'
      br
      h4='POST /api/data'
      p='Use endpoint for deleting data. Can append ?key={key} or ?id={id} to narrow the delete'
